{% extends 'base.html' %}

{% block content %}
<header>
    <h1 class="header-font">About Us</h1>
</header>

<section>
    <h2>Our Mission</h2>
    <p>
        Welcome to IP Lookup, your go-to source for comprehensive and accurate IP information. Our mission
        is to empower users with valuable insights into the world of IP addresses. We believe that understanding the
        origins, locations, and other details related to IP addresses is crucial in today's interconnected digital
        landscape.
    </p>

    <h2>What Sets Us Apart</h2>
    <ul>
        <li><strong>Accuracy:</strong> We take pride in delivering accurate and reliable information.</li>
        <li><strong>User-Friendly Interface:</strong> Navigating our website is a breeze.</li>
        <li><strong>Comprehensive Data:</strong> We go beyond basic IP details.</li>
        <li><strong>Privacy Respected:</strong> We prioritize user privacy.</li>
    </ul>

    <h2>How It Works</h2>
    <p>
        Using IP Lookup is simple. Just enter the IP address you want to investigate into our search bar,
        and within seconds, you'll have a detailed report at your fingertips.
    </p>
</section>

<section>
    <h2>Stay Connected</h2>
    <p>
        Join our community of users who rely on IP Lookup for their IP information needs. Follow us on social
        media to stay updated on the latest features, news, and tips related to IP addresses.
    </p>
</section>

<section>
    <h2>Contact Us</h2>
    <p>
        Have questions or suggestions? We value your feedback. Feel free to reach out to us at
        <a href="mailto:piyushpaul700@gmail.com">contact@piyushpaul.com</a>. Your input helps us improve
        and tailor our services to better meet your needs.
    </p>
</section>

<footer>
    Thank you for choosing IP Lookup for all your IP information needs. We look forward to being your
    trusted resource in the dynamic world of digital connectivity.
</footer>
{% endblock %}