{% extends 'base.html' %}

{% block content %}
<div class="rightbox">
    <div class="search">
        <form action="post" name="ip-addr">
            {% csrf_token %}
            <input class="search_bar" name="ip-addr" type="text" required value="{{ip}}">
        </form>
        <button class="search_icon">🔍</button>
    </div>
    <div class="details">
        <p>city: {{ city }}</p>
        <p>region: {{ region }}</p>
        <p>country: {{ country }}</p>
        <p>loc: {{ loc }}</p>
        <p>isp: {{ org }}</p>
        <p>postal: {{ postal }}</p>
        <p>timezone: {{ timezone }}</p>
        <p></p>
    </div>
</div>
<div class="leftbox">
    <p>Welcome to the world of IPs</p>
</div>

{% endblock %}