{% extends 'base.html' %}

{% block content %}
<div class="rightbox">
    <div class="search">
        <form action="/" name="ip-addr" method="post">
            {% csrf_token %}
            <input class="search_bar" type="text" name="ip-addr" required value="{{ip}}">
            <button type="submit" class="search_icon">🔍</button>
        </form>
    </div>
    <div class="details">
        <p>city: {{ city }}</p>
        <p>region: {{ region }}</p>
        <p>country: {{ country }}</p>
        <p>loc: {{ loc }}</p>
        <p>isp: {{ org }}</p>
        <p>postal: {{ postal }}</p>
        <p>timezone: {{ timezone }}</p>
        <p></p>
    </div>
</div>
<div class="leftbox">
    {% load static %}
    <p>The trusted source for IP address data</p>
    <div class="image-fader">
        <img class="image slides slides-hidden" src="{% static '/app/img/img1.png'%}"/>
        <img class="image slides slides-hidden" src="{% static '/app/img/img2.png'%}"/>
        <img class="image slides slides-hidden" src="{% static '/app/img/img3.jpg'%}"/>
        <img class="image slides slides-hidden" src="{% static '/app/img/img4.jpg'%}"/>
    </div>
</div>

{% endblock %}